# 代理订阅提供者 (Proxy Providers)
proxy-providers:
  Providers: 
    type: http
    url: "" # 代理订阅链接
    interval: 3600 # 1小时自动更新一次节点
    path: ./provider/proxy/my-airport.yaml # 缓存文件路径
    health-check:
      enable: true
      url: http://www.gstatic.com/generate_204
      interval: 600

# 策略组 (Proxy Groups)
proxy-groups:
  - name: "中转节点"
    type: select
    use: ["Providers"]
    exclude-filter: "落地|家宽" # 排除节点名包含"落地"的节点
    icon: "https://ghfast.top/https://raw.githubusercontent.com/Orz-3/mini/master/Color/Urltest.png"

  - name: "智能中转"
    type: select
    proxies: ["中转节点", "DIRECT"]
    icon: "https://ghfast.top/https://raw.githubusercontent.com/Orz-3/mini/master/Color/Roundrobin.png"

  - name: "手动切换"
    type: select
    use: ["Providers"]
    filter: "落地|家宽" # 只保留节点名包含"落地"的节点
    icon: "https://ghfast.top/https://raw.githubusercontent.com/Orz-3/mini/master/Color/Static.png"

  - name: PROXY
    type: select
    proxies: ["手动切换", "中转节点"]
    icon: "https://ghfast.top/https://raw.githubusercontent.com/Orz-3/mini/master/Color/Global.png"

  - name: PROXY-SPECIAL
    type: select
    use: ["Providers"]
    icon: "https://ghfast.top/https://raw.githubusercontent.com/Orz-3/mini/master/Color/Global.png"

  - name: 游戏加速
    type: select
    use: ["Providers"]
    icon: "https://ghfast.top/https://raw.githubusercontent.com/Orz-3/mini/master/Color/SSID.png"

  - name: AdBlock
    type: select
    proxies: [REJECT]
    icon: "https://ghfast.top/https://raw.githubusercontent.com/Orz-3/mini/master/Color/Adblock.png" 
  
  - name: 兜底分流
    type: select
    proxies: [PROXY, DIRECT]
    icon: "https://ghfast.top/https://raw.githubusercontent.com/Orz-3/mini/master/Color/Final.png"

# 规则提供者 (Rule Providers)
rule-providers:
  cn-domain: { behavior: domain, interval: 86400, path: ./provider/rule-set/cn_domain.yaml, type: http, url: "https://ghfast.top/https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/cn.yaml" }
  ai-chat-!cn: { type: http, interval: 600, behavior: domain, format: mrs, url: "https://ghfast.top/https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/category-ai-!cn.mrs" }
  fake-ip-filter: { type: http, behavior: domain, format: text, interval: 86400, url: "https://cdn.jsdelivr.net/gh/juewuy/ShellCrash@dev/public/fake_ip_filter.list", path: ./ruleset/fake_ip_filter.list }
  custom-direct: { behavior: classical, interval: 86400, path: ./provider/rule-set/custom_direct.yaml, type: http, format: yaml, url: "https://ghfast.top/https://raw.githubusercontent.com/mufeng688/Sub-Config/refs/heads/main/rule/DiyDirect.yaml" }
  custom-proxy: { behavior: classical, interval: 86400, path: ./provider/rule-set/custom_proxy.yaml, type: http, format: yaml, url: "https://ghfast.top/https://raw.githubusercontent.com/mufeng688/Sub-Config/refs/heads/main/rule/DiyProxy.yaml" }
  custom-games: { behavior: classical, interval: 86400, path: ./provider/rule-set/custom_games.yaml, type: http, format: yaml, url: "https://ghfast.top/https://raw.githubusercontent.com/mufeng688/Sub-Config/refs/heads/main/rule/DiyGames.yaml" }

# 规则 (Rules)
rules:
  - GEOSITE,category-ads-all,AdBlock
  - GEOIP,private,DIRECT,no-resolve
  - RULE-SET,custom-games,游戏加速
  - RULE-SET,custom-proxy,PROXY
  - GEOIP,CN,DIRECT
  - RULE-SET,cn-domain,DIRECT
  - RULE-SET,custom-direct,DIRECT
  - GEOSITE,gfw,PROXY
  - GEOSITE,google,PROXY
  - GEOSITE,youtube,PROXY
  - GEOSITE,twitter,PROXY
  - GEOSITE,telegram,PROXY
  - GEOSITE,netflix,PROXY
  - GEOSITE,pixiv,PROXY
  - GEOSITE,biliintl,PROXY
  - GEOSITE,category-scholar-!cn,PROXY-SPECIAL
  - RULE-SET,ai-chat-!cn,PROXY-SPECIAL
  - GEOSITE,microsoft@cn,DIRECT
  - GEOSITE,apple-cn,DIRECT
  - GEOSITE,onedrive,DIRECT
  - GEOSITE,steam@cn,DIRECT
  - GEOSITE,category-games@cn,DIRECT
  - GEOSITE,geolocation-!cn,PROXY
  - GEOIP,!CN,PROXY
  - MATCH,兜底分流

# 通用配置
mode: rule
ipv6: false
mixed-port: 7890
allow-lan: true
bind-address: '*'
log-level: warning
unified-delay: true
find-process-mode: strict

# DNS 设置
dns:
  enable: true
  ipv6: false
  prefer-h3: false
  use-hosts: false
  use-system-hosts: false
  respect-rules: true
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  fake-ip-filter:
    - 'rule-set:fake-ip-filter'
  default-nameserver:
    - tls://223.5.5.5
    - tls://119.29.29.29
  nameserver:
    - https://1.1.1.1/dns-query
    - https://dns.google/dns-query
  proxy-server-nameserver:
    - https://doh.pub/dns-query
  direct-nameserver:
    - https://doh.pub/dns-query
    - https://dns.alidns.com/dns-query


# 6. GEO 数据源 - 无需改动
geodata-mode: true
geo-auto-update: true
geo-update-interval: 24
geodata-loader: memconservative
geox-url:
  geoip: https://cdn.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geoip-lite.dat
  geosite: https://cdn.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geosite.dat
  mmdb: https://cdn.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/country-lite.mmdb
  asn: https://cdn.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/GeoLite2-ASN.mmdb